table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.primary-button {
  background-color: coral;
  border-radius: 4px;
  border-color: coral;
  padding: 10px 10px 10px 10px;

}

.secondary-button {
  background-color: honeydew;
  border-radius: 4px;
  border: 2px solid coral;
  
}